# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /PMMNM_Selling-Game-Website/mixigaming/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /PMMNM_Selling-Game-Website/mixigaming/index.php [L]
</IfModule>
# END WordPress