<!-- wp:template-part {"slug":"header","theme":"escape-room-game","tagName":"header"} /-->

<!-- wp:pattern {"slug":"escape-room-game/home-banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"0rem","bottom":"0rem","left":"0px","right":"var:preset|spacing|70"}}},"backgroundColor":"primary","layout":{"type":"constrained","contentSize":"70%","justifyContent":"center"}} -->
<main id="primary" class="wp-block-group has-primary-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:0rem;padding-right:var(--wp--preset--spacing--70);padding-bottom:0rem;padding-left:0px"><!-- wp:pattern {"slug":"escape-room-game/experience-section"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"escape-room-game/about-us-section"} /-->
<!-- wp:pattern {"slug":"escape-room-game/testimonial-section"} /-->
<!-- wp:pattern {"slug":"escape-room-game/news-section"} /-->
<!-- wp:pattern {"slug":"escape-room-game/faq-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"escape-room-game","tagName":"footer"} /-->
