<!-- wp:template-part {"slug":"header","theme":"escape-room-game","tagName":"header"} /-->
<!-- wp:pattern {"slug":"escape-room-game/cover-with-post-title"} /-->
<!-- wp:group {"tagName":"main","className":"main-page","style":{"spacing":{"padding":{"top":"80px","bottom":"80px","left":"100px","right":"100px"}}}} -->
<main id="primary" class="wp-block-group main-page" style="padding-top: 80px; padding-bottom: 80px; padding-left: 100px; padding-right:100px;">
	<!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"escape-room-game","tagName":"footer"} /-->